<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>eHunter-local</title>
    <style>
        body {
            margin: 0;
            background: #333333;
            font-family: PingFang SC, Microsoft YaHei, 微软雅黑, Arial, Hiragino Sans GB, Heiti SC, Droid Sans,
                WenQuanYi Micro Hei, sans-serif !important;
        }
        body::-webkit-scrollbar {
            display: none;
        }
    </style>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
      <script>
          function blockDrop(e) {
            e.preventDefault();
            e.stopPropagation();
          }
          document.addEventListener('dragenter', blockDrop, false);
          document.addEventListener('dragover', blockDrop, false);
          document.addEventListener('dragleave', blockDrop, false);
          document.addEventListener('drop', blockDrop, false);
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
